
  <div class="jumbotron">
    <h1>Welcome to Blocitoff</h1>
    <p class="lead">Blocitoff is a automated ToDo list that will help you manage your life.</p>
    <p class="sign-up-button"><%= link_to new_user_registration_path, class: "btn btn-info btn-lg" do %>
      <span>Sign-up</span>
    <% end %>
    </p> 
  </div>

